@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 3rem;
  /* Color */
  --text-color: #dddddd;
  --body-color: #303133;
  --white-color: #ffffff;
  --dark-color: #1B1D22;
  --body-color-gradient: radial-gradient(circle at 40% 20% , rgba(65,66,70,1) 13%, rgba(29,31,36,1) 58%);
  /* Font */
  --body-font: 'Poppins', sans-serif;
  --bigger-font-size: 2.5rem;
  --big-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /* Font weight */
  --font-light: 200;
  --font-medium: 400;
  --font-semi-bold: 600;
  --font-bold: 800;
  /* Margin */
  --m-1: 1rem;
  /* z index */
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --bigger-font-size: 5rem;
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*================ BASE ================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

main {
  overflow-x: hidden;
}

/*================ REUSABLE CSS CLASSES ================*/
.section {
  padding: 4.5rem 0 2.5rem;
}

.container {
  max-width: 968px;
  margin-left: var(--m-1);
  margin-right: var(--m-1);
}

/*======== BACKGROUND GRADIENT ========*/
.background {
  width: 100vw;
  height: 100vh;
  background: var(--body-color-gradient);
  position: fixed;
  z-index: -1;
}

/*================ HEADER ================*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
}

/*================ NAV ================*/
h1 {
  color: black;
  font-size: 20px;
}

.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  width: 30px;
}

.nav__toogle {
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__menu {
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--dark-color);
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 3rem;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--text-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--white-color);
}

.nav__social {
  width: 100%;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__social-link {
  color: var(--text-color);
}

.nav__close {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

/* show menu */
.show-menu {
  right: 0;
}

/*==================== HOME =====================*/
.home__container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: var(--header-height);
}

.home__data-top {
  text-align: left;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-light);
}

.home__data-title {
  font-size: var(--bigger-font-size);
  font-weight: var(--font-bold);
  color: var(--text-color);
}

.home__data-subtitle {
  text-align: right;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-light);
}

.home__scroll {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: scrolldown 3s infinite;
          animation: scrolldown 3s infinite;
}

@-webkit-keyframes scrolldown {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  90% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes scrolldown {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  40% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  90% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

/*=============== BUTTONS ===============*/
.button {
  margin: 0 auto;
  display: inline-block;
  background-color: transparent;
  color: var(--text-color);
  padding: 1rem 2rem;
  -webkit-box-shadow: 5px 10px 10px 1px #00000071;
          box-shadow: 5px 10px 10px 1px #00000071;
  font-weight: var(--font-semi-bold);
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/*================= PROJECTS =================*/
.projects {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__card {
  max-width: 200px;
  margin: 2rem;
}

.projects__images {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  display: none;
}

.projects__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--text-color);
  text-align: center;
  row-gap: 2rem;
  margin: 0 1rem;
}

.projects__title {
  font-size: var(--big-font-size);
  color: var(--text-color);
}

.projects__description {
  max-width: 800px;
  font-weight: var(--normal-font-size);
  font-size: var(--small-font-size);
}

.projects .button {
  font-size: var(--normal-font-size);
}

/*================ MEDIA QUERIES ================*/
/* For small devices */
/* For medium devices */
@media screen and (min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__link {
    color: var(--text-color);
  }
  .nav__link:hover {
    color: var(--text-color);
  }
  .nav__logo {
    width: 50px;
  }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__item {
    margin-left: 4rem;
  }
  .nav__social {
    display: none;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .projects__card {
    max-width: 500px;
  }
}

/* For larger devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  body {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */