@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --header-height: 3rem;

    /* Color */
    --text-color: #dddddd;
    // --body-color: #414246;
    --body-color: #303133;
    --white-color: #ffffff;
    --dark-color: #1B1D22;
    --body-color-gradient: radial-gradient(circle at 40% 20% , rgba(65,66,70,1) 13%, rgba(29,31,36,1) 58%);

    /* Font */
    --body-font: 'Poppins', sans-serif;

    --bigger-font-size: 2.5rem;
    --big-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    @media screen and (min-width: 968px) {
        --bigger-font-size: 5rem;
        --big-font-size: 1.75rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

    /* Font weight */
    --font-light: 200;
    --font-medium: 400;
    --font-semi-bold: 600;
    --font-bold: 800;

    /* Margin */
    --m-1: 1rem;

    /* z index */
    --z-fixed: 100;

}


/*================ BASE ================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    // background: var(--body-color-gradient);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

button,
input {
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

button {
    cursor: pointer;
}

input {
    outline: none;
}

main {
    overflow-x: hidden;
}

/*================ REUSABLE CSS CLASSES ================*/
.section {
    padding: 4.5rem 0 2.5rem;
}

.container {
    max-width: 968px;
    margin-left: var(--m-1);
    margin-right: var(--m-1);
}

/*======== BACKGROUND GRADIENT ========*/
.background {
    width: 100vw;
    height: 100vh;
    background: var(--body-color-gradient);
    position: fixed;
    z-index: -1;
}

/*================ HEADER ================*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: transparent;
}

/*================ NAV ================*/
h1{
    color: black;
    font-size: 20px;
}
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__logo {
        width: 30px;
    }
    
    &__toogle {
        color: var(--text-color);
        font-size: 1.2rem;
        cursor: pointer;
    }
    
    &__menu {
        position: relative;
        
        @media screen and (max-width: 767px) {
            position: fixed;
            background-color: var(--dark-color);
            top: 0;
            right: -100%;
            width: 80%;
            height: 100%;
            padding: 3rem;
            transition: .4s;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
    }
    &__link {
        color: var(--text-color);
        font-weight: var(--font-medium);
        text-transform: uppercase;
        
        &:hover {
            color: var(--white-color);
        }
    }
    &__social{
        width: 100%;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-around;

        &-link{
            color: var(--text-color);
        }
    }
    &__close {
        position: absolute;
        top: .75rem;
        right: 1rem;
        font-size: 1.5rem;
        color: var(--text-color);
        cursor: pointer;
    }
}

/* show menu */
.show-menu {
    right: 0;
}


/*==================== HOME =====================*/
.home {
    &__container {
        height: 100vh;
        // height: calc(100vh - var(--header-height));
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: var(--header-height);
    }
    &__data{
        &-top{
            text-align: left;
            font-size: var(--smaller-font-size);
            font-weight: var(--font-light);
        }
        &-title{
            font-size: var(--bigger-font-size);
            font-weight: var(--font-bold);
            color: var(--text-color);
        }
        &-subtitle {
            text-align: right;
            font-size: var(--smaller-font-size);
            font-weight: var(--font-light);
        }
    }
    &__scroll{
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: scrolldown 3s infinite;
    }
}
@keyframes scrolldown {
    0%   {transform: translate(-50%, -50%);}
    40%  {transform: translate(-50%, 0);}
    90%  {transform: translate(-50%, -50%);}
  }

/*=============== BUTTONS ===============*/
.button{
    margin: 0 auto;
    display: inline-block;
    background-color: transparent;
    color: var(--text-color);
    padding: 1rem 2rem;
    box-shadow: 5px 10px 10px 1px #00000071;
    font-weight: var(--font-semi-bold);
    transition: .3s;
    
    &:hover{
        background-color: var(--first-color-alt);
    }
}
/*================= PROJECTS =================*/
.projects{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__card{
        max-width: 500px;
        margin: 2rem;
    }
    &__images{
        filter: grayscale(100%);
        display:none;
    }
    &__data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--text-color);
        text-align: center;
        row-gap: 2rem;
        margin: 0 1rem;
    }
    &__title{
        font-size: var(--big-font-size);
        color: var(--text-color);
    }
    &__description {
        max-width: 800px;
        font-weight: var(--normal-font-size);
        font-size: var(--small-font-size);
    }
    .button{
        font-size: var(--normal-font-size);
    }
}

/*================ MEDIA QUERIES ================*/
/* For small devices */
@media screen and (max-width: 340px){

}

/* For medium devices */
@media screen and (min-width: 568px){

}
@media screen and (min-width: 768px){
    .nav {
        height: calc(var(--header-height) + 1.5rem);

        &__link {
            color: var(--text-color);

            &:hover {
                color: var(--text-color);
            }
        }
        &__logo {
            width: 50px;
        }
        &__menu {
            display: flex;
            column-gap: 1rem;
        }
        &__list {
            flex-direction: row;
            // column-gap: 4rem;
        }
        &__item{
            margin-left: 4rem;
        }
        &__social{
            display: none;
        }
        &__toggle,
        &__close {
            display: none;
        }
    }
}

/* For larger devices */
@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px){
    .container {
        max-width: 1150px;
    }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px){
    body{
        margin: 0;
    }
    // .home{
    //     &__container{
    //         // height: 640px;
    //     }
    // }
}